body {
  text-align:center;
}
section {
  padding-top:5px;
}
.container {
  width:1000px;
  margin:0 auto;
  height:675px;
  background:radial-gradient(rgba(245, 245, 245, 0.9),rgba(245,245,245,0));
  border-radius:10px;
  border:black solid 2px;
}
nav {
  text-align:center;
  font-size:60px;
  vertical-align:middle;
  padding-bottom:10px;
  outline:black 1px solid;
}
.sidebar{
  position:relative;
  top:120px;
  background-color:rgba(26, 29, 255, 0.52);
  display:inline-block;
  left:20px;
  width:150px;
  margin-right:75px;
}
a {
  font-size:30px;
  color:white;
  background-color:none;
  padding-left:2px;
  padding-right:2px;
}s
nav, .content {
  position:relative;
}
.content {
  font-size:20px;
  display:inline-block;
  background:linear-gradient(#e6e6e6, #757575);
  border:4px double black;
  border-radius:10px;
  top:75px;
  width:600px;
  padding-bottom:20px;
}
body {
  background:url(http://bgfons.com/upload/sky_texture1967.jpg);
}
.header {
  margin-top:10px;
  text-align:center;
}

div {
  font-family:arial;
}

.button {
  background:linear-gradient(#270aff,#0077e6);
  color:white;
  border:black solid 1px;
  position:absolute;
  right:53px;
  height:28px;
  width:65px;
  margin-top:10px;
  margin-bottom:10px;
}
.button:hover {
  background:#4258ff;
}

.textbox {
  appearance:none;
  height:35px;
  width:80%;
  margin:0 auto;
  font-size:20px;
  margin-top:15px;
  margin-left:8px;
  background-color:#fffbcc;
}

p {
  width:100%;
  height:auto;
  font-size:18px;
  font-family:Verdana;
  text-align:center;
}

a:hover {
  color:black;
}
